<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }
    function apiCall() {
      $("#result").html('Loading...')
      $.get("/getCompanyInfo", function(data) {
        $("#result").html(data)
      })
    }
    function revokeCall() {
      $("#result").html('Loading...')
      $.get("/revokeToken", function(data) {
        $("#result").html(data)
      })
    }
    function refreshCall() {
      $("#result").html('Loading...')
      $.get("/refreshToken", function(data) {
        $("#result").html(data)
      })
    }
  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Connected!</h3>
  <div th:with="firstPer=${session.givenName}">
	
	    <p>Welcome <span th:text="${firstPer}" />!</p>
  		<p>Would you like to make a sample API call?</p>
	  
  </div>
  
  <div>
    <button onclick="apiCall()">QuickBooks API Call</button>
    <button onclick="refreshCall()">Refresh Token Call</button>
    <button onclick="revokeCall()">Revoke Token Call</button>
    <br /><br />
    <div><code id="result"></code></div>
    </div>
</body>
</html>